@using Microsoft.AspNetCore.Identity
@model List<LogisticCompany_Identity.ViewModel.UserWithRole>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.User.FirstName
            </td>
            <td>
                @item.User.LastName
            </td>
            <td>
                @item.User.Email
            </td>
            <td>
                @item.Role
                @*<select asp-for="@roleManager" asp-items="@(new SelectList(roleManager.Roles, selectedValue: item.Role))"></select>
            *@
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.User.Id">Change role</a>
                }

            </td>
        </tr>
    }
    </tbody>
</table>